In [1]:
import os
import pandas as pd

dataset_path = 'yelp_dataset'

### checkins file (yelp_academic_dataset_checkin.json)
This file has two columns: 'business_id' and check-in dates column 'date' for that business

In [3]:
checkins_df = pd.read_json(f'{dataset_path}/yelp_academic_dataset_checkin.json', lines=True)
checkins_df.shape

(131930, 2)

In [4]:
checkins_df.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

#### Missingness
We evaluate column null value count using the .info() method

In [5]:
checkins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

No missing values, only clean up needed is changing dtypes and transforming the 'date' column into separate entries.

#### What can we observe from checkins data?
If we are interested in how business foot traffic (times, frequency, small/varied set of users and so on) varies with user review sentiment, then we can split out the 'datetime' stamp for each checkin to easily handle or manipulate the data. For the time being, we'll leave this data as is, and focus on sentiment and theme extraction using other data files.